<form action="/survey" method="post" enctype='application/json'>
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="survey[waketime]" id="survey_waketime1" value=1 checked>
                일찍 일어남
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="survey[waketime]" id="survey_waketime2" value=2>
                조금 일찍 일어남
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="survey[waketime]" id="survey_waketime3" value=3>
                늦게 일어남
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="survey[waketime]" id="survey_waketime4" value=4>
                매우 늦게 일어남
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="preference_survey[waketime]" id="preference_survey_waketime1" value=1 checked>
                일찍 일어남
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="preference_survey[waketime]" id="preference_survey_waketime2" value=2>
                조금 일찍 일어남
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="preference_survey[waketime]" id="preference_survey_waketime3" value=3>
                늦게 일어남
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="preference_survey[waketime]" id="preference_survey_waketime4" value=4>
                매우 늦게 일어남
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>