<a href="home">home</a></br>
<a href="auth/facebook">auth/facebook</a></br>
<a href="sign_out">sign_out</a></br>
<a href="profile">profile</a></br>
<a href="profile/edit">profile/edit</a></br>
<a href="dormsurvey">dormsurvey</a></br>
<a href="dormsurvey/edit">dormsurvey/edit</a></br>
<a href="survey">survey</a></br>
<a href="survey/edit">survey/edit</a></br>
<a href="match">match</a>